<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grocery List Tracker - Modify List</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Raleway:ital,wght@1,300&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="container">
            <h1 class="mainHeader">Tim's Grocery List Tracker</h1>
            <div class="row">
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/"
                    >Home</a
                >
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/useList"
                    >Use List</a
                >
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/modifyList"
                    >Modify List</a
                >
            </div>
            <h1 class="table_header">
                Grocery List Items: Click on "remove" to remove the item from
                the list, or click on "edit" to edit the item in the list!
            </h1>
            <table class="centered" id="table_body">
                <thead>
                    <tr class="row table_header">
                        <th class="col s3" style="padding: 12px">Item Name</th>
                        <th class="col s3" style="padding: 12px">Item Count</th>
                        <th class="col s3" style="padding: 12px">
                            Edit Button
                        </th>
                        <th class="col s3" style="padding: 12px">
                            Remove Button
                        </th>
                    </tr>
                </thead>
                <tbody id = "inner_table_body">
                    <!-- add the rows of the table in here. Each row has 3 columns, each column is the item name, the item count, and whether the item is in the list or not  -->
                    <% for (let item of groceryList) { %>
                    <tr class="row" id="row<%= item.item_id%>">
                        <td class="col s3" style="padding: 12px">
                            <%= item.item_name %>
                        </td>
                        <td class="col s3" style="padding: 12px">
                            <%= item.item_count %>
                        </td>
                        <td
                            class="col s3 edit_button"
                            style="
                                padding: 12px;
                                background-color: rgb(37, 223, 211);
                            "
                            id = "edit<%= item.item_id%>"
                        >
                            Edit
                        </td>
                        <td
                            class="col s3 remove_button"
                            style="
                                padding: 12px;
                                background-color: rgb(215, 61, 33);
                            "
                            id="<%= item.item_id %>"
                        >
                            Remove
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <div class="row" style="padding: 24px; background-color: gray">
                <input
                    placeholder="New item name"
                    id="new_item_name"
                    type="text"
                    class="col s6"
                    style="color: black; font-size: 20px"
                />
                <input
                    placeholder="New item count"
                    id="new_item_count"
                    type="text"
                    class="col s3"
                    style="color: black; font-size: 20px"
                />
                <div
                    class="col s3"
                    style="
                        text-align: center;
                        background-color: rgb(13, 121, 63);
                        color: black;
                        font-size: 20px;
                        padding: 12px;
                    "
                    id="add_item_button"
                    >Add item</div
                >
            </div>
            <div class="row"></div>
            <div class="row" id="clear_shopping_list_button">
                <h1>Clear Shopping List</h1>
            </div>
        </div>
    </body>

    <!-- frontend javascript which will handle removing items, editing items, adding items, and clearing items from the shopping list -->
    <script>
        // listener for clear shopping list button, server will just reload the page
        document
            .getElementById("clear_shopping_list_button")
            .addEventListener("click", () => {
                fetch(document.URL + "/clear_shopping_list");
                // not all rows in table get cleared for some reason and since everything is gone anyway, you can just refresh the page
                location.reload();
            });
        // listeners for all of the remove buttons
        for (let element of document.getElementsByClassName("remove_button")) {
            element.addEventListener("click", () => {
                fetch(document.URL + "/remove-item", {
                    method: "POST",
                    headers: {
                        "Content-type": "application/json",
                    },
                    body: JSON.stringify({ id: element.id }),
                });
                document.getElementById("row" + element.id).remove();
            });
        }
        // listener for adding an item
        document
            .getElementById("add_item_button")
            .addEventListener("click", () => {
                // post request to server to add element
                fetch(document.URL + "/add-item", {
                    method: "POST",
                    headers: {
                        "Content-type": "application/json",
                    },
                    body: JSON.stringify({
                        item_name:
                            document.getElementById("new_item_name").value,
                        item_count:
                            document.getElementById("new_item_count").value,
                    }),
                });
                // no way to know what ID the DB is going to make for this new item, so we have to refresh the page
                location.reload();
            });
        // listeners for editing items
        for (let element of document.getElementsByClassName("edit_button")) {
            element.addEventListener("click", () => {
                location.assign(document.URL + "/editItem:" + element.id.substring(4));
            });
        }
    </script>

    <!-- materialize stuff -->
    <link rel="stylesheet" href="/stylesheets/materialize.min.css" />
    <script src="/javascripts/materialize.min.js"></script>
    <!-- my own css -->
    <link rel="stylesheet" href="/stylesheets/myCSS.css" />
</html>
